doctype html

html(lang='en')
  head
    title='React Seed'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/assets/bundle.css')

  body
    noscript Please enable JavaScript

    div(id='root')

    script(src='/assets/vendors.js')
    script(src='/assets/bundle.js')
